input{
    border: none;
    border-bottom: solid 1px grey;
    height: 60px;
    font-size: 48px;
    width: 100%;
}
input:focus{
    outline: none;
}
svg{
    position: fixed;
    right: 0;
    top: 100px;
}
path{
    fill: #000;
}